body{
	background-color: #282828;
}

#wrapper{
	width: 1024px;
	height: 1650px;
	margin: 0 auto;
	background-color: #FFF;
}

header{
	position: relative;
	background-image: url('../img/header.jpg');
	width: 1024px;
	height: 300px;
	//outline: 1px solid #cc4000;
}

#welcome{
	font: 26px 'Montserrat', sans-serif;
	color: #FFF;
	position: absolute;
	left: 40px;
	top: 160px;
}

a{
	cursor: pointer;
}

nav ul{
	list-style: none;
	width: 950px;
}

nav ul li{
	float: left;
}

nav ul li a{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 19px;
	color: #FFF;
}

nav ul li a:hover, nav ul li a:focus{
	text-decoration: none;
	color: #a5aba6;
}

nav{
	position: relative;
	top: 34px;
	left: 42px;
}

.modal-body label{
	font-size: 20px;
}

.modal-body input{
	margin-bottom: 10px;
	padding-left: 5px;
	width: 100%;
}

#latestRecords{
	//outline: 1px solid #cc4000;
	margin-top: 1px;
	width: 1024px;
	height: 50px;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #867e7e;
	position: relative;
}

#title{
	align-content: center;
}

#underHeaderLine{
	width: 1024px;
	height: 14px;
	background-color: #867e7e;
}

.article{
	position: relative;
	padding: 0 23px 0 10px;
	margin: 50px 0 0 21px;
	width: 981px;
	height: 184px;
	//outline: 1px solid #cc4000;
	font-family: 'Montserrat', sans-serif;
}

.articleImage{
	margin: 16px 0 20px 0;
	width: 215px;
	height: 146px;
	float: left;
	text-align: center;
	//outline: 1px solid #cc4000;
}

.article h1{
	width: 940px;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 0 0 0 236px;
	margin-bottom: 3px;
	color: #867e7e;
}

#articleHead{
	width: 940px;
	height: auto;
}

#details h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #867e7e;
}

.articleDescription{
	font: 16px 'Open Sans', sans-serif;
	width: 580px;
	height: 90px;
	//outline: 1px solid #cc4000;
	margin: 5px 0 5px 236px;
	overflow: hidden;
	word-wrap: break-word;

}

.article ul{
	margin-top: 13px;
	margin-left: 215px;
}

.article ul , #details ul{
	list-style: none;
	height: 20px;
	padding-left: 0;
}

.article ul li{
	float: left;
	margin-left: 21px;
	color: #ada5a5;
}

#details ul li{
	float: left;
	margin-left: 27px;
	color: #ada5a5;
	font: 18px 'Montserrat', sans-serif;
}

#createArticleForm, #editArticleForm{
	margin-top: 30px;
	margin-left: 20px;
}


#latestRecords a{
	display: block;
	position: absolute;
	right: 46px;
	top: 13px;
	width: 181px;
	height: 34px;
	padding: 4.5px 8px;
	font: 20px 'Montserrat', sans-serif;
	color: #FFF;
	background-image: url('../img/addArticle.png');
	text-decoration: none;
}

.article .detailsBtn{
	display: block;
	position: absolute;
	width: 80px;
	height: 22px;
	right: 23px;
	top: 25px;
	padding: 1px 17px;
	background-image: url('../img/details.png');
	text-decoration: none;
	color: #FFF;
}

.article .detailsBtn:hover{
	opacity: 0.8;
}

.article .editBtn{
	position: absolute;
	height: 32px;
	width: 32px;
	right: 57px;
	top: 58px;
	background-image: url('../img/edit.png');
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.article .deleteBtn{
	position: absolute;
	height: 32px;
	width: 32px;
	right: 33px;
	top: 58px;
	background-image: url('../img/trash.png');
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.userArticle .editBtn{
	height: 32px;
	width: 32px;
	background-image: url('../img/edit.png');
	background-color: transparent;
	box-shadow: none;
	border: none;
	margin: 14px 0;
}

.userArticle .deleteBtn{
	height: 32px;
	width: 32px;
	background-image: url('../img/trash.png');
	background-color: transparent;
	box-shadow: none;
	border: none;
	margin: 14px 0;
}

.articleActions{
	float: left;
}

.clear{
	clear: both;
}

.userArticle h2{
	float: left;
}

#detailsArticleImage{
	display: block;
	max-width: 700px;
	max-height: 333px;
	width: auto;
	height: auto;
	margin: 0 auto;
}

#detailsSummary{
	width: 978px;
	height: auto;
	font: 18px 'Montserrat', sans-serif;
	margin: 17px 27px;
}

textarea{
	resize: vertical;
}

.tags{
	font-family: 'Arial', sans-serif;
	margin-left: 236px;
}

.tagsList{
	font-family: 'Montserrat', sans-serif;
	alignment: right;
	margin-top: 30px;
	margin-right: 30px;
}

.tagsList a{
	font-family: 'Arial', sans-serif;
	text-decoration: none;
	color: #FFF;
}

.userArticle h2{
	font: 20px 'Montserrat', sans-serif;
	margin-left: 30px;
}

.modal-body p{
	font: 18px 'Open Sans', sans-serif;
}

.modal-body h3 a{
	font-family: 'Open Sans', sans-serif;
}

/* Users list styles */
.usersListUserNicknameAnchor:hover::before{
	content: 'View ';
}

.usersListUserNicknameAnchor:hover::after{
	content: '\'s articles';
}

#mytable{
	border-radius: 5px;
}

#articlesPagination, #usersPagination{
	height: 65px;
	margin: 10px 0 50px 80%;
}